@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Padauk', sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #eee;
}
